.center{
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;

}

ion-card{
  width: 80%;

  border: 3px solid rgb(2, 24, 66);
}




ion-content.background{
 --background: url(../../assets/img/fundo.jpg) ;


}

.msg-erro{
  color:#ff0000;
  font-size: 15px;
  clear:both;
  position: relative;
}
