<ion-header>
  <ion-toolbar color= "cor1">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  class="background">
<div class="center">
  <ion-card class="ion-text-center">
  <ion-item  >
   <ion-label position="floating">E-mail:</ion-label>
   <ion-input type="email" ></ion-input>
 </ion-item>
 <ion-item  >
   <ion-label position="floating">senha:</ion-label>
   <ion-input type="password" ></ion-input>
 </ion-item>
 <ion-button   expand="full" color="cor1" >ENTRAR</ion-button>
 <ion-button routerLink="/registro" expand="full" color="cor1"  >REGISTRAR</ion-button>
 <ion-button expand="full" color="cor1" >ESQUECI MINHA SENHA</ion-button>
 </ion-card>
</div>
</ion-content>
